<div class="panel panel-default image-bit">
    <div class="panel-heading">
        <div>{{image.name}}</div>
        <div class="small text-muted">{{image.description}}</div>
    </div>
    <progress-bit [progress]="progress" *ngIf="!progressComplete"></progress-bit>
    <div class="panel-body thumb-container">
        <a [routerLink]="['/image', image.id]">
            <img class="thumb-container-image" src="{{image.thumbUrl}}" alt="{{image.description}}">
        </a>
    </div>
    <div class="panel-footer" *ngIf="image?.imageUrl">
        <quick-share *ngFor="let sharingOption of sharingOptions" [url]="image.imageUrl" [sharingOption]="sharingOption"></quick-share>
    </div>
</div>