<div class="panel panel-default image-bit">
    <div class="panel-heading">
        <div>{{image.name}}</div>
        <div class="small text-muted">{{image.description}}</div>
    </div>
    <progress-bit [progress]="progress" [showText]="false" *ngIf="!progressComplete"></progress-bit>
    <div class="panel-body thumb-container">
        <a [routerLink]="['/image', image.id]">
            <img class="thumb-container-image" src="{{image.thumbUrl}}" alt="{{image.description}}">
        </a>
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <span class="input-group-addon">Share</span>
            <input readonly selectAll [selectOnMouseEnter]="false" class="form-control" type="text" value="{{image.imageUrl}}">
            <span class="input-group-addon">
                <button class="btn btn-primary btn-xs" tabindex="-1" type="button" >Copy</button>
            </span>
        </div>
    </div>
</div>