<div class="jumbotron text-center upload-jumbotron" [ngClass]="upload ? 'upload-collapse':''">
    <div>
        <p><a class="btn btn-primary btn-lg btn-subtitled" (click)="uploadImages()" role="button">Select Images <span class="btn-subtitle">Images, 5mb each</span></a>
        <p class="text-muted small">or Drag &amp; Drop <i>anywhere</i></p>
    </div>
</div>
<div class="container-fluid upload-images">
    <p class="text-center page-header">My Images</p>
    <image-grid [images]="images" *ngIf="images"></image-grid>
</div>