<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" [routerLink]="['']">CubeUpload</a>

			<div class="btn-group navbar-btn pull-left" dropdown>
				<button type="button" class="btn btn-primary upload-navbar-button">Upload Image</button>
				<button type="button" class="btn btn-primary upload-navbar-button dropdown-toggle" dropdownToggle data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
				<ul class="dropdown-menu arrow">
					<!--<div>
						<p class="strong">Something Here</p>
						<p>To explain upload anywhere</p>
					</div>-->
					<li><a href="#">Upload to Album</a></li>
					<li><a href="#">Paste URL</a></li>
				</ul>
			</div>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li class="hidden-xs"><a [routerLink]="['images']">Images</a></li>
			<li class="hidden-xs"><a [routerLink]="['albums']">Albums</a></li>
			<li class="dropdown" dropdown>
				<a href="#" class="dropdown-toggle" dropdownToggle role="button" aria-haspopup="true" aria-expanded="false" id="navigation-dropdown">
					<span class="hidden-xs">Username</span>
					<span class="visible-xs"><span class="glyphicon glyphicon-option-horizontal"></span></span>
					<span class="caret hidden-xs"></span>
				</a>
				<ul class="dropdown-menu arrow arrow-right dropdown-menu-right" dropdownMenu>
					<li class="visible-xs"><a [routerLink]="['images']">Images</a></li>
					<li class="visible-xs"><a [routerLink]="['albums']">Albums</a></li>
					<li><a routerLink="/about" routerLinkActive="active">Account</a></li>
					<li><a routerLink="/about" routerLinkActive="active">Settings</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</li>
		</ul>

	</div>
</nav>
<main role="main" class="main-container">
	<router-outlet></router-outlet>
</main>