$quickShareSpace-md: 4px;
$quickShareSpace-lg: 6px;
.quick-share {
  background: $gray-darker;
  border-top: 1px solid $gray;
  label {
    display: block;
    margin: $quickShareSpace-md 0;
  }
  .quick-share-title {
    margin: $quickShareSpace-lg 0 0 $quickShareSpace-lg;
  }
  .quick-share-input-container {
    display: flex;
    .input-wrapper {
      position: relative;
      flex: 1;
      margin: $quickShareSpace-md;
      input {
        padding: 0px $quickShareSpace-md;
        height: 24px;
        border: 0;
        background: $gray-darker;
        color: $brand-info;
        &:focus {
          background: $gray-lighter;
          color: $gray-dark;
        }
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50px;
        @include linearHorizontalGradient(rgba($gray-darker, 0.0), rgba($gray-darker, 1.0));
      }
    }
    button {
      margin-right: $quickShareSpace-md;
    }
  }
  &.links-2 {
    font-size: 0.8em;
    opacity: 0.5;
    &:hover {
      opacity: 1.0;
    }
    input {
        font-size: 0.8em;
    }
    label {
      display: flex;
    }
    .quick-share-input-container {
      flex: 1;
    }
  }
  &.links-no-gradient, &.active {
    .input-wrapper:after {
      display: none;
    }
  }
  &:last-of-type {
    border-bottom: 1px solid $gray
  }
}
