@import './../modules/_bootstrap-theme';

.image-bit {
    position: relative;    
}

.input-group-btn {
    background-color: $input-bg;
}

.thumb-container-image {
    max-height: $grid-image-height;
}

.thumb-container {
    padding: 0;
    background-color: $color-dark;
    text-align: center;
}

progress-bit {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
}