@import './modules/_bootstrap-theme';
@import './modules/_variables';
@import './modules/_xl-breakpoint';
@import './modules/_helper';
@import './modules/_misc';
@import './modules/_buttons';
@import './modules/_buttons';
@import './modules/_upload';

.drop-container {
    min-height: calc(100vh - 78px); //TODO use variables 
    &.is-drop-over {
        &:before, 
        &:after {
            pointer-events: none;
            position: fixed;
        }
        &:before {
            background: rgba(0, 0, 0, 1);
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 1.0;
            z-index: 1;
        }
        &:after {
            content: 'Drop Images to Upload';
            display: flex;
            align-items: center;
            justify-content: center;
            left: 20px;
            top: 20px;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            border: 3px dashed rgba(white, 0.5);
            background: rgba(white, 0.2);
            border-radius: 20px;
        }
        > * {
            // pointer-events: none;
            opacity: 0.5;
        }
    }
}